---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
        "variables",
        "syntax-highlighting",
        "bootstrap/scss/bootstrap.scss"
;

.site-content {
    padding-bottom: 3rem;
}

.site-sidebar {
    border-right: 1px solid #e4e4e4;
}

.site-footer {
    background-color: #fbfbf7;
    border-top: 1px solid #e4e4e4;
    .footer-nav {
	list-style-type: none;

	li .fa {
	    padding-right: 5px;
	}
    }
}

.site-header {
    .bg-inverse {
	h1 {
	    color: $gray-lighter;
	}
    }
}

#error-page #search-box {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 300px;
}

#error-page {
    .gsc-input-box {
	height: auto;
    }
    
    .gsc-search-button{
	height: auto;
	width: auto;
    }
}


.mermaid .edgeLabel {
    color: $gray-dark;
}

#search-page {
    margin: 5% auto;

    .gsc-input-box {
	height: auto;
    }
    
    .gsc-search-button{
	height: auto;
	width: auto;
    }   
}

.share-buttons {
    li {
	vertical-align: top;
    }
}

.shell {

    background-color: $kbd-bg;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    box-shadow: inset 0 -0.1rem 0 rgba(0, 0, 0, 0.25);
    color: $kbd-color;
    
    .shell-prompt {
	color: #0c0;
	font-weight: bold;
    }

    .shell-comment {
	color: grey;
    }

    kbd {
	box-shadow: none;
	font-weight: bold;
    }

}

.section-nav {

    .toc-h3 {
	margin-left: 1em;
	font-size: 0.9em;
    }

    .toc-h4 {
	margin-left: 2em;
	font-size: 0.8em;
    }

}

.author-footer {
    border-top: 1px solid #eee;
    margin: 2em auto;
    padding-top: 2em;
    
    img {
	border: 1px solid #eee;
	padding: 2px;
    }
}