---
layout: default
---

<div class="home">

  <div class="container">
    <h2>Categories</h2>

    {% capture first_level_categories %}
    {% for page in site.pages %}
    {% assign all_cats = page.dir | split:'/' %}
    {%comment%}filter software docs and get only the first level of categories{%endcomment%}
    {% if all_cats[1] == site.docs_dir %}
    {{ all_cats[2] | strip }},
    {% endif %}
    {% endfor %}
    {% endcapture %}

    {% assign categories = first_level_categories | split: ',' | uniq %}

    <p>
      <ul class="list-unstyled">
	{% for category in categories %}
	{% unless category == blank %}
	<li>
	  <a href="{{ site.baseurl }}/{{ site.docs_dir}}/{{ category | strip }}/">{{ category | strip | capitalize }}</a>
	</li>
	{% endunless %}
	{% endfor %}
      </ul>
    </p>
  </div> <!--containter-->
  
  <hr />

  <h1>Uncategorized Posts</h1>
  {% for post in site.posts %}
  {% if post.categories contains site.docs_dir and post.categories.size == 1 %}
  {%comment%}if post.categories[0] == site.docs_dir and post.categories.size == 1 {%endcomment%}
  <li>
    <a class="post-link" href="{{ site.baseurl }}/{{ post.slug }}">
      {{ post.title }}
    </a>
  </li>
  {% endif%}
  {% endfor %}

  <hr />

  <div>
    <div class="center-block">
      <div class="row">
	<h1>Posts</h1>
	<ul>
	  {% for post in site.posts %}
	  <li>
	    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	    <button type="button" class="btn btn-default">{{ post.categories  | array_to_sentence_string }}</button>
	    {% for tag in post.tags %}
	    <button type="button" class="btn btn-link">{{ tag }}</button>
	    {% endfor %}
	  </li>
	  {% endfor %}
	</ul>
      </div>
      <div class="row">
	<h1>Pages</h1>
	<ul>
	  {% assign pages = site.pages | sort:'path' %}
	  {% for page in pages %}
	  {% if page.title %}
	  <li>
	    {{page.path}}
	    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
	  </li>
	  {% endif%}
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
</div>
