<div class="breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="list-inline">


    {% assign categories = include.path | split:"/" | pop  %}

    {% assign route="" %}

    {% include breadcrumbs_li.html fa="fa-home" url="/" title="Home" position="1" %}

    {% comment %} handle special books collections {% endcomment %}
    {% assign first_category = categories | first %}

    {% if include.path == "books.md" %}
    <span class="prompt">>></span>
    {% include breadcrumbs_li.html fa="fa-book" title="Books" position="2" %}
    {% elsif first_category == "_books" %}
    <span class="prompt">>></span>
    {% include breadcrumbs_li.html fa="fa-book" url="/books" title="Books" position="2" %}
    <span class="prompt">>></span>
    {% include breadcrumbs_li.html title=include.title position="2" %}
    {% else %}
    {% for category in categories %}
    <span class="prompt">>></span>
    <li itemprop="itemListElement" itemscope
	itemtype="http://schema.org/ListItem"
	class="list-inline-item">
      {% assign route = route | append: '/' | append: category %}
      
      {% if forloop.last and category == "_posts" %}
      <div itemscope itemtype="http://schema.org/Thing"
	   itemprop="item">
	<span itemprop="name">{{ include.title }}</span>
      </div>
      {% elsif forloop.last %}
      <div itemscope itemtype="http://schema.org/Thing"
	   itemprop="item">
	<span itemprop="name">{{category}}</span>
      </div>
      {% else %}
      
      <a itemscope itemtype="http://schema.org/Thing"
	 itemprop="item" href="{{ route }}">
        <span itemprop="name">{{ category}}</span>
        <!--img itemprop="image" src="http://example.com/images/icon-bookicon.png" alt="Books"/-->
      </a>
      {% endif %}
      <meta itemprop="position" content="{{ forloop.index | plus:'1' }}" />
    </li>
    {% endfor %}
    {% endif %}
  </ol>
</div>
