<div class="breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="list-/inline breadcrumb">

    {% assign categories = include.path | split:"/" | pop  %}
    {% assign route="" %}
    
    {% include breadcrumbs_li.html fa="fa-home" url="/" title="Home" position="1" %}
    {% comment %} handle special books collections {% endcomment %}
    {% assign first_category = categories | first %}

    {% comment %}Detect book index{% endcomment %}
    {% if include.path == "books.md" %}
    {% include breadcrumbs_li.html fa="fa-book" title="Books" position="2" %}
    {% comment %}detect book item{% endcomment %}
    {% elsif first_category == "_books" %}
    {% include breadcrumbs_li.html fa="fa-book" url="/books" title="Books" position="2" %}
    {% include breadcrumbs_li.html title=include.title position="2" %}
    {% else %}
    {% for category in categories %}
    {% assign route = route | append: '/' | append: category %}
    {% assign category_position=forloop.index | plus:'1' %}
    
    {% if forloop.last and category == "_posts" %}
    {% include breadcrumbs_li.html title=include.title position=category_position %}
    {% elsif forloop.last %}
    {% include breadcrumbs_li.html title=category position=category_position %}
    {% else %}
    {% include breadcrumbs_li.html url=route title=category position=category_position %}
    {% endif %}

    {% endfor %}
    {% endif %}
  </ol>
</div>
