<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
	    <i class="fa fa-keyboard-o" aria-hidden="true"></i>Coded by Marcelo Canina
	  </li>
	  {% if site.author %}
          <li>
            {% include icon-twitter.html username=site.author %}
          </li>
          {% endif %}
	  <li>
	    <i class="fa fa-user" aria-hidden="true"></i><a href="{{ site.baseurl }}/about">About</a>
	  </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
