<footer class="container-fluid site-footer py-3">
    <div class="container">
	<div class="row justify-content-between align-items-center">
	    <div class="col-4">
		<h2 class="footer-heading text-muted">{{ site.title }}</h2>
		<ul class="footer-nav px-0">
		    <li>
			<i class="fa fa-keyboard-o" aria-hidden="true"></i>Coded by <a href="{{site.data.people['marcanuy'].website}}" rel="author">Marcelo Canina</a>
		    </li>
		    {% if site.twitter.username %}
		    <li>
			{% include icon-twitter.html username=site.twitter.username %}
		    </li>
		    {% endif %}
		    <li>
			<i class="fa fa-user" aria-hidden="true"></i><a href="{{ site.baseurl }}/about">About</a>
		    </li>
		    <li>
			<i class="fa fa-search" aria-hidden="true"></i><a href="{{ site.baseurl }}/search">Search</a>
		    </li>
		</ul>
	    </div>
	    <div class="col-4">
		<div class="text-muted">
		    <p>{{ site.description }}</p>
		</div>
	    </div>
	</div>
    </div>
</footer>
{% include license.html %}
<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/tether.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
