<div class="jumbotron jumbotron-fluid bg-inverse">
  <div class="container">
    {% if include.title %}
    {% assign words = include.title | split: ' ' %}
    
    {% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
    
    <h1 class="title">{{ titlecase }}</h1>
    {% endif %}
    {% if include.subtitle %}
    <p class="lead">
	<small class="text-muted subtitle">{{ include.subtitle }}</small>
	{% if page.date %}
	<br />
	<small class="text-muted subtitle">

	    <i class="fa fa-calendar text-muted" aria-hidden="true"></i>
	    <time class="text-muted" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
	</small>
	{% endif %}
    </p>
    {% endif %}
  </div>
</div>
