<header class="site-header">

  <!-- mermaid -->
  <script src="{{ site.baseurl }}/bower_components/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad:true});</script>
  <!-- endmermaid -->

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  </div>

  <div class="jumbotron jumbotron-fluid bg-inverse">
    <div class="container">
      {% if page.title %}
      <h1 class="title">{{ page.title }}</h1>
      {% endif %}
      <p class="lead">
	<small class="text-muted subtitle">{{ page.subtitle }}</small>
      </p>
    </div>
  </div>

</header>
