.site-content {
    padding-bottom: 3rem;
}

.site-footer {
    background-color: #fbfbf7;
    border-top: 1px solid #E4E4E4;
    .footer-nav {
	list-style-type: none;

	li .fa {
	    padding-right: 5px;
	}
    }
}

#error-page #search-box {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 300px;
}

#error-page {
    .gsc-input-box {
	height: auto;
    }
    
    .gsc-search-button{
	height: auto;
	width: auto;
    }
}


.mermaid .edgeLabel {
    color: $gray-dark;
}

#search-page {
    margin: 5% auto;

    .gsc-input-box {
	height: auto;
    }
    
    .gsc-search-button{
	height: auto;
	width: auto;
    }   
}

.share-buttons {
    li {
	vertical-align: top;
    }
}