---
layout: post
---
<div>
{{ content }}
</div>
  
<div>
  Detailed book description and reviews:
  <ul>
    {% for shop in page.shops %}
    <li>
      {{ shop | first | capitalize }}:
      <a href="{{ shop | last }}">
	<i class="fa fa-external-link" aria-hidden="true"></i>
	{{ shop | last }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="row">
  <div class="col-8">
    <h2>Articles</h2>
    <p>This book is being referenced in:</p>
    <div class="list-group">
      {% for post in site.posts %}
      {% if post.content contains page.slug %}
      <a href="{{ post.url }}" class="list-group-item">
	{{ post.title }}
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-4">
    <div class="text-center">
      <figure class="figure">
	<a href="{{ page.shops.amazon }}">
	    {% assign image_url = "" %}
	    {% if page.image contains "http" %}
	    {% assign image_url = page.image %}
	    {% else %}
	    {% assign image_url = "/assets/books/" | append: page.image %}
	    {% endif %}
	    <img src="{{image_url}}" alt="{{ page.title }}" class="img-fluid img-rounded"/>
	</a>
	<figcaption class="figure-caption">{{ page.title }} cover</figcaption>
      </figure>
    </div> <!-- col -->
  </div> <!-- row -->
</div>

