---
layout: base_post
---

{% if page.description %}
<p class="lead">
    {{ page.description }}
</p>
{% endif %}

{{ content }}
<div class="card-deck-wrapper">
    <div class="card-deck">
	{% for book in site.books %}
	<div class="card">
	    {% assign image_url = "" %}
	    {% if book.image contains "http" %}
	    {% assign image_url = book.image %}
	    {% else %}
	    {% assign image_url = "/assets/books/" | append: book.image %}
	    {% endif %}
	    <img class="card-img-top img-fluid" alt="{{ book.title }}" src="{{image_url}}">
	    <div class="card-block">
		<h4 class="card-title">{{ book.title }}</h4>
		<p class="card-text">
		    {{ book.description }}
		</p>
		<a href="{{ book.url | prepend: site.baseurl }}" class="btn btn-primary">More..</a>
	    </div>
	</div>
	{% endfor %}
    </div>
</div>
