---
layout: base_post

#example content of page /software/kramdown/index.md
#“dir”=>”/software/kramdown/”, “name”=>”index.md”, “path”=>”software/kramdown/index.md”, “url”=>”/software/kramdown/”
---

<div class="row">
  <div class="col-md-3 col-md-push-9">
  </div> <!-- col 3 toc -->
  <div class="col-md-9 col-md-pull-3">

    {% comment %}shift the first empty splitted element{% endcomment %}
    {% assign ancestors_and_self = page.dir | split:"/" | shift %}
    {% assign current_category = ancestors_and_self | last %}

    {% assign has_subcategories = false %}
    {% for my_page in site.pages %}
    {% if my_page.dir contains page.dir and my_page.dir != page.dir %}
    {% assign has_subcategories = true %}
    {% endif %}
    {% endfor %}
    {% if has_subcategories %}
    <h2>{{ current_category | capitalize }} Subcategories</h2>
    <div class="list-group">
      {% for my_page in site.pages %}
      {% if my_page.dir contains page.dir and my_page.dir != page.dir %}
      <a class="list-group-item" href="{{ my_page.url }}">{{ my_page.title }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <article>
      <h2>{{ page.title }} articles</h2>
      <div class="list-group">
	{% for post in site.posts | sort: 'path' %}
	{% assign dir_without_first_slash = page.dir | replace_first: '/', '' %}
	{% if post.path contains dir_without_first_slash %}
	<a class="list-group-item" href="{{ post.url | prepend: site.baseurl }}">
	  {{ post.title }}
	</a>
	{% endif %}
	{% endfor %}
      </div>
    </article>

    {% assign has_posts = false %}
    {% for post in site.categories[current_category] %}
    {% comment %} Filter posts from other categories with the same name {% endcomment %}
    {% if post.categories == ancestors_and_self %}
    {% assign has_posts = true %}
    {% endif %}{% endfor %}
    {% if has_posts %}
    <h2>Articles in {{ current_category }} category</h2>
    <div class="list-group">
      {% for post in site.categories[current_category] %}
      {% comment %} Filter posts from other categories with the same name {% endcomment %}
      {% if post.categories == ancestors_and_self %}
      <a class="list-group-item" href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    
    <hr />

    <div class="content">
      {{ content }}
    </div>
  </div> <!-- col 9 content -->
</div> <!-- main row -->
