---
layout: base_post
---

<div class="row">

  <div class="col-md-3 site-sidebar">
    {% include adsense_side_content.html %}
    {% if page.toc %}
    <div class="sticky" style="position:sticky; top:10px">
      <div>
	<h4>Table of Contents</h4>
	{{ content | toc_only }}
      </div>
      <div>
	{% include share_buttons.html %}
      </div>
    </div>
    {% endif %}
  </div> <!-- end col -->

  <div class="col-md-8 site-content">

    {% if page.description %}
    <p class="lead">
      {{ page.description }}
    </p>
    {% endif %}

    {% include adsense_before_content.html %}

    {{ content }}

    {% include disqus.html %}

    <div class="row">
      <div class="col-md-6">
	{% include posts_in_category.html post=page %}
      </div>
      <div class="col-md-5">
	{% comment %}{% include post-categories.html %}{% endcomment %}
	{% if content %}
	{% include adsense_after_content.html %}
	{% endif %}
      </div>
    </div>
  </div> <!-- end col -->
</div>

