---
layout: base_post
---

<div class="row">
  <div class="col-md-4 col-md-push-8 sit-sidebar">
    <h4>Table of Contents</h4>
    {% if page.toc %}
    {{ content | toc_only }}
    {% endif %}

    {% include adsense_side_content.html %}

  </div>
  <div class="col-md-8 col-md-pull-4 sit-content">

    {% if page.description %}
    <p class="lead">
      {{ page.description }}
    </p>
    {% endif %}

    {% include adsense_before_content.html %}

    {{ content }}
    
  </div>
</div>

{% include post-categories.html %}

<div class="row">
  <div class="col-md-6">
    {% include disqus.html %}
  </div>
  <div class="col-md-6">
    {% include adsense_after_content.html %}
  </div>
</div>

